
<div class="container mt-5">

    <h2 class="text-center mb-3">About us</h2>

    <hr>

</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/big-city.jpg" alt="..." class="img-thumbnail">
        </div>
        <div class="col">
            <h1 class="text-center">Our History</h1>

        </div>

    </div>
    <hr>
    <h2 class="text-center mt-5">WHY CHOOSE AQUARTIA TECHNOLOGY <br> AS YOU IT BUSINESS PARTNER?</h2>

    <div class="container">
        <p class="text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.</p>
    </div>


</div>